#principal,.poste{margin:0}
.line,.tickets,table{border-collapse:collapse}
#bas-de-page,#entete #background1{background-color:##C4C4C4)}
#accueil,#bas-de-page,#logo,#menu li,#retour,#single-game,.date,.event_team,.event_team_home,.event_team_home-details,.event_team_home_logo,.event_team_visitor-details,.event_team_visitor_logo,.event_team_wrapped,.game-time,.reservation{position:relative}
#direct,#incline,#menu,#mercredi,.reservation,th{text-align:center}
#menu li,#single-game,#tableau{list-style:none}
#entete #background2,body{background-image:url(photo_accueil/background.jpg);background-size:cover}
.daytime-month{font-family:Verdana}
.tickets .reservation:hover{text-decoration:underline}
#accueil,#bas-de-page a,#contenu1 .block a,#contenu2 .block a,#contenu2 span a,#contenu2 span1 a,#discussion,#menu a,#tableau li a,.reservation{text-decoration:none}
.tickets{border:1px solid #DCDCDC}
.reservation{left:66em;width:105px;bottom:148px;background-color:#860038;color:#fff;padding:.3em;font-weight:700;margin-left:20px;}
.reservation_reservation a{color:#fff;text-decoration:none;display:block}
.tickets .reservation:hover{background-color:#970741}
#SD,#forum,#outside,#principal,.line,main{padding:10px;}
#description{margin-top:2em;margin-bottom:1em}
.stock{color:green}
.popo{color:#00f}
#position{margin-left:200px}
h2{color:#24a6d9}
#contenu1 .boiteSecondaire .image{margin-bottom:7px}
#principal p{font-size:2em;color:#212121;border-top:3px solid #38D;border-bottom:3px solid #38D;font-family:Dinot,Arial,'Helvetica    		  Neue',Helvetica,sans-serif}
#contenu-entete{border:0 solid #000}
#entete #background2{background-color:#58ACFA;position:relative;bottom:1px}
#menu ul a{float:none}
#categorie{border:1px solid #000}
#bas-de-page{margin-top:100px}
#bas-de-page,#entete #background1{background-color:"#CCCCCC");color:#000}
#contenu1 #boitePrincipal,#contenu1 .boiteSecondaire{display:table;border-collapse:separate;border-radius:6px}
.position_d{margin-left:2em}
#contenu1 .boiteSecondaire{float:right;width:20em;border-spacing:0;margin-right:1px;margin-bottom:10px}
.line,table{border-collapse:collapse;border:5px solid black;}
#tableau,td{padding:1em}
.description{font-size:large;width:180px;margin:0}
.numero,.prix{font-size:x-large;float:right}
#titre{color:#81BEF7}
.prix{margin:0;display:inline;color:#860038}
#discussion,.month,h2,h3{color:#24a6d9}
#outside{margin-bottom:26px;width : 1100px;
	margin-left: auto; 
    margin-right: auto;
    background-color:white;}
#tableau li a:hover{background-color:silver}
#rubrique{margin-left:0;margin-bot:12em}
main{width:1200px;margin-left:auto;margin-right:auto;font-family:Arial}
#prochain,#resultat{border-bottom:2px solid #0c9cd5;border-top:2px solid #0c9cd5;padding:5px 0 5px .5em;font-family:Dinot,Arial,"Helvetica Neue",Helvetica,sans-serif;color:#24a6d9}
h3{text-decoration:underline;left:25em;width:450px}
#match{color:white;font-size:1.5e;height:215px}
#beinsport{position:absolute;left:33em;top:24em}
#discussion{margin-top:5em;border-bottom:1px solid #e5e5e5;float:right}
#direct{display:inline-block;width:auto}
.schedule,.tickets{width:1200px;height:115px}
#logo{left:120px;bottom:88px}
#prochain{background-color:#F2F2F2}
#single-game{right:39px;}
.schedule{display:block;background-color:white;}
.bein{    margin-top: 60px;
    margin-right: 60px;
    width: 40px;
    height: 40px;}
.tickets{border-top:2px solid #DCDCDC}
.date{width:100px;top:2em;left:10px}
.day{font-size:medium}
.daytime-month{font-size:120%;font-weight:lighter;display:block}
.event_team{left:10em;width:800px;height:115px;bottom:38px}
.event_team_visitor{width:300px;display:inline-block}
.event_team_visitor-details{display:block;width:125px;top:2em;left:3em;text-align:right}
#inscrit,#menu,#retour,.game-time,h1,p,td,th{text-align:center}
.event_team_visitor_logo{width:80px;left:220px;bottom:1em}
.event_team_wrapped{width:20px;left:23em;bottom:4em}
.event_team_home{width:300px;display:inline-block;left:25em;bottom:10px}
.event_team_home_inner_wrapped{float:left;height:115px}
.event_team_home-details{display:block;width:150px;bottom:5em;left:12em}
.event_team_home-details_inner_wrapped{display:block}
.line,.numero,label{display:inline-block}
.event_team_home_logo{width:80px;bottom:135px;left:4em}
.game-time{left:62em;width:80px;bottom:7em;border-left:1px solid gray;font-weight:700}
.month,h1{font-weight:lighter}
.month{margin-left:5px}
.line{margin-bottom:5px;margin-left:26px;border:1px solid #DCDCDC;padding:15px}
.numero,.poste,p{margin:0}
#categorie,#inscrit,.categorie,td,th{border:1px solid #000}
.fond{width:250px;height:70px;background-color:#A9D0F5;padding:10px;}

#exterieur,#fond,#forum,#outside,#principal,#stats{margin-left:auto;margin-right:auto}
.poste{margin-top:10px;}
#fond,#forum{width:1200px}
.numero{vertical-align:middle}
#exterieur,#principal,#stats{margin-bottom:26px;font-family:Arial}
input,textarea{width:150px;padding:4px;vertical-align:top}
#inscrit,.categorie{padding:.5em;margin:20px;}
textarea{width:300px;height:5em}
label{width:100px;margin-right:20px;vertical-align:top;text-align:right;margin-left:2em}
#outside{font-family:Arial;width:1100px}
#forum{background-image:url(photo_accueil/fond.jpg);margin-bottom:2em}
#rapide{color:#FE9A2E}
.categorie{color:#24a6d9;background-color:#D5D4D2}
#exterieur,#principal{padding-bottom:10px}
.droite{width:3em}
#exterieur,#interieur,#principal,#stats{width:1200px}
#principal{text-align:left}

.jour{background-color:#1AAFC9}
.entraineur{background-color:#FAAC58}
#SD,#entete,#exterieur,#stats{background-color:#fff}
#retour{left:524px;width:155px;height:55px;color:#fff;background-color:#2679b9}
#accueil{top:16px;color:#fff;display:block}
#principal #retour:hover{background-color:#2f90d9;text-decoration:underline}
#menu li:hover{background-color:#E9EAEA;transition:background-color .3s ease}
h1{font-size:xx-large;margin-left:5px}
#menu a,p,td{font-weight:700}
th{padding-left:1em}
.image{display:inline-block}
body{background-repeat:no-repeat;background-position:center;margin:-10px}
#interieur{margin:auto auto 100px;font-family:Verdana}
#contenu-entete{width:1200px;margin:30px auto;padding-bottom:30px}
#SD{color:#000}
#entete #background1{margin:-7px -7px 0;height:50px}
#entete #background2{margin:-7px -7px 0;height:194px}
#entete-haut{margin:20px;padding-top:30px;display:inline}
#entete-haut p1{margin:10px 20px 20px 35px;font-size:1.5em;float:left}
#entete-haut div a{float:right;height:20px;margin-right:20px}
#entete-haut .FBTW{float:right;width:20;height:20;margin-left:50px;margin-right:30px}
#menu ul a,#menu ul li{float:none;display:block}
#entete-bas{margin:12px;display:inline}
#menu{display:block;width:1000px;margin:4em 0 0 11em;border:1px solid #001;background-image:linear-gradient(#444,#111);border-radius:6px;box-shadow:0 1px #707070}
#menu a.active{color:#DA0000}
#menu a{font-family:Arial;font-size:17px;float:left;padding:10px 25px;color:#23C;text-shadow:0 .5px 0 #000;width:70px}
#menu ul{margin:20px 0 0;padding:0;visibility:hidden;top:40px;left:0;z-index:9999;background:#444;background:linear-gradient(#444,#111);box-shadow:0 -1px 0 rgba(255,255,255,.3);border-radius:3px;transition:all .2s ease-in-out;position:absolute}
#menu li{float:left;display:inline}
#menu li a:hover{background-color:#E5E5E5;transition:background-color .2s ease}
#menu ul li a:hover{color:#fff;transition:color .2s ease}
#menu li:hover ul{opacity:1;visibility:visible;margin:0;transition:color .4s ease}
#menu ul a{padding:10px;width:100px;color:#fff}
#menu ul a:hover{background-color:#0186ba;background-image:linear-gradient(#04acec,#0186ba)}
#menu ul li{border:0;box-shadow:0 1px 0 #111,0 2px 0 #6AF}
#contenu1{margin-top:50px;margin-bottom:200px;padding-left:20px;column-count:2;column-gap:10px}
#contenu1 #boitePrincipal{float:left;width:40em;display:table;border-collapse:separate;border-spacing:1px;border-radius:6px}
#contenu1 .boiteTertiaire{display:block;margin:0 0 0 -10px;width:90em}
#contenu1 .boite4{float:left;display:block;width:85em;margin-left:-600px;margin-top:550px}
#contenu1 .boite4 .image{width:360px;display:inline;float:left;margin:0 33px 0 5px}
#contenu1 .block a{color:#fff;font-family:proxima-nova-condensed,Arial,sans-serif;margin:auto}
#contenu1 #titre1,#contenu1 .titre2{background-color:#000;border-radius:3px;margin-top:-5px;text-align:left;line-height:20px;}
#contenu1 #titre1{padding:20px;font-size:1.5em}
#contenu1 .titre2{padding:10px;font-size:1.1em;height:35px}
.boiteTertiaire .image{width:370px;display:inline;float:left;margin:0 33px 0 11px}
.boiteTertiaire>div:nth-child(2)>div:nth-child(1){width:370px;display:inline;float:left;margin:16px 33px 0 11px}
#contenu1 .block:hover a{color:#38D;transition:color .3s ease}
#contenu2{display:block;margin:50px 40px 0 50px}
#contenu2 #actu .block{float:left;margin-left:50px;text-align:center;background-color:#f0f0f0;border:2px solid #BBB}
#contenu2 .block a{display:block;color:#38D;border-top:2px solid #d2aB70;padding-top:10px}
#bas-de-page a:hover,#contenu2 #actu .block:hover a{color:#fff;transition:color .4s ease}
#bas-de-page,#bas-de-page a{color:#9d9d9d}
#contenu2 #actu .block:hover a{background-color:#333}
#principal p,.joueur p{font-size:2em;color:#212121;border-top:3px solid #38D;border-bottom:3px solid #38D;font-family:Dinot,Arial,'Helvetica    		  Neue',Helvetica,sans-serif}
#contenu2 span{display:block;font-size:2em;color:#bea064;margin-top:50px}
#contenu2 span1{display:block;font-size:2.1em;color:#BBB}
#contenu2 span a{color:#bea064}
#contenu2 span1 a{color:#BBB}
#contenu2 span a:hover{color:#d6c094}
#contenu2 span1 a:hover{color:#dfdfdf}
#bas-de-page{text-align:center;padding:10px;background-repeat:repeat;background-color:#222;background-position:center top;font-family:Arial;font-weight:400;font-size:1.1em;margin:-10px -8px 0}
footer #text{display:block;margin-top:10px;margin-left:80px;word-spacing:7px}
.field{margin-top:20px;}
